* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    gap: 1rem;
}

div {
    border: 3px solid black;
    padding: 4rem;
    border-radius: 10px;
}

#dialog-box {
    margin: auto;
    padding: 2rem;
    background-color: skyblue;
}